#header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid gray;
  margin-bottom: 0.5rem;
  border: none;
}

#header a {
  &:has(.toi-icon) {
    text-decoration: unset;
  }
  .toi-text {
    text-decoration: underline;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;

  > div {
    width: 33%;
    display: flex;
    align-items: center;
  }

  > div.header-title {
    justify-content: center;
    font-size: x-large;
    min-width: 145px;
  }

  > div.header-links {
    justify-content: end;

    button {
      margin-left: 0.5rem;
      padding: 0.25rem;
      background-color: inherit;
    }
  }
}
