* {
  --sign-size: max(100%, 200px);
  --content-size: max(100%, 120px);
}

.container {
  height: var(--sign-size);
  width: var(--sign-size);

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.front-container,
.back-container {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.back-container {
  transform: rotateY(180deg);
}

.sign-container {
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.sign-post {
  height: 100%;
  width: 100%;
  position: relative;
}

img.sign-image {
  object-fit: contain;
  position: absolute;
  height: var(--sign-size);
  width: var(--sign-size);
  top: 0px;
  left: 0px;
}

.content-container {
  position: absolute;
  top: 17%;
  bottom: 23%;
  left: 5%;
  right: 5%;
  color: rgb(239 68 68);
  object-fit:contain;
}

img.content {
  height: var(--content-size);
  width: 100%;
  object-fit: contain;
  z-index: 10;
}

.transparent {
  opacity: 0;
}
