.dialog.show {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.move-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5px;
  font-size: large;
}

.emoji {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.divider {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  column-gap: 20px;
  font-size: large;
}
