.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  column-gap: 20px;
  font-size: large;
}

.results-container {
  justify-content: start;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attempts,
.time {
  margin: 0;
}

p.square-key {
  > span:not(:last-child) {
    margin-right: 1rem;
  }
}
