* {
  box-sizing: border-box;
  --grid-size: repeat(4, var(--cell-size));
  --scoreboard-width: calc(4 * var(--cell-size));
}

@media (min-width: 1600px), (orientation: landscape) {
  * {
    --cell-size: min(21vh, 23vw);
  }
}

@media (orientation: portrait) and (min-width: 910px) and (max-width: 1600px) {
  * {
    --cell-size: min(22vh, 23vw);
  }
}

@media (orientation: portrait) and (max-width: 910px) {
  * {
    --cell-size: min(14vh, 33vw);
    --grid-size: repeat(3, var(--cell-size));
    --scoreboard-width: calc(3 * var(--cell-size));
  }
}

div#game-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

div#game {
  display: grid;
  grid-template-columns: var(--grid-size);
  grid-template-rows: var(--grid-size);

  gap: 0px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  padding: 0.5rem;
}

.scoreboard-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;
}

.scoreboard {
  display: block;
  padding: 0 0.5rem;
  width: var(--scoreboard-width);
}

.scoreboard .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scoreboard p {
  margin: 0;
}