* {
  box-sizing: border-box;
}

div#game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 10px;
  width: 100vw;
  height: 85vh;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
}

.scoreboard {
  display: block;
  width: 100%;
  padding: 20px
}

.scoreboard .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}